body {
    font-family: 'Muli', sans-serif;
    font-size: 20pt;
    overflow: hidden;
    margin: 0;
  
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #e5e5e5;
  }
  
  .container {
    width: 100%;
    display: flex;
    padding: 20px;
  }

  .panel {
    flex: 1;
    position: relative;
    padding: 10px;
  }

  .panel.left {
    /* background: rgb(208, 244, 242); */
    border-right: 2px solid blueviolet;
  }
  
  .panel.right .cell {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
  }

  .cell {
    display: flex;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
    margin-bottom: 5px;
  }

  .cell div {
    /* flex: 1; */
    padding-right: 7px;
  }

.add-order-btn {
  display: flex;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
  margin-bottom: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 20pt;
  display: flex;
}